# Servidor SMTP (Recomendado: Gmail con App Password)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="tu_correo@gmail.com"
SMTP_PASS="tu_app_password_de_16_caracteres"

# Perfil del Remitente
SENDER_NAME="Tu Nombre"
GITHUB_USER="TuUsuarioGitHub"
LINKEDIN_USER="TuUsuarioLinkedIn"
